body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: larger;
}

.everything {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 200px;
    background-color: lightgray;
    padding: 0px 25px;
}

#Navbar {
    list-style-type: none;
    margin: -8px -8px 0px -8px;
    padding: 0px;
    background-color: gray;
    overflow: hidden;
}

.Navel {
    float: left;
    text-align: center;
}

.Navel a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 20px 24px;
    font-size: 20px;
}

.Navel:hover {
    background-color: red;
}

#searchInput {
    float: right;
    padding-top: 17px;
    padding-right: 5px;
}

#searchInput input, button {
    font-size: 16px;
}

.preview div {
    text-align: center;
    height: 300px;
    width: 19%;
    display: inline-block;
    margin-right: 7px;
    text-align: center;
    margin-bottom: 20px;
}

.footer, .push {
    height: 50px;
}

.footer {
    background-color: white;
    text-align: center;
    font-size: 32px;
}

.footer a {
    text-decoration: none;
    color: black;
}

#trailer div {
    text-align: center;
    background-color: rgb(0, 185, 0);
    ;
    height: 300px;
    width: 32%;
    display: inline-block;
    margin-right: 15px;
    text-align: center
}

.media_overview::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
}

.media a {
    text-decoration: none;
}

.media img {
    height: 160px;
    width: 249px;
}

table {
    table-layout: fixed;
}

td {
    padding: 5px;
}

td p {
    margin: 0;
    padding: 0;
}

.act_pic {
    width: 10%;
}

.act_name {
    width: 47.5%;
}

.hyphen {
    width: 5%;
}

.med_name {
    width: 47.5%;
}

tr.border_bottom td {
    border-bottom: 1pt solid black;
}

.title {
    margin-top: 0px;
    color: white;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
    font-size: 10vw;
    margin-bottom: 0px;
}

.comment_field {
    resize: vertical;
    max-width: 95%;
}

.tabbb {
    width: 33.33%;
    float: left;
}

@media screen and (max-width:1800px) {
    .tabbb {
        width: 100%;
    }
}

.links {
    text-decoration: none;
}